{% extends "base.html" %}

{% block content %}
<h1> Hi, {{current_user.username}}!</h1>
    <table>
        <tr valign="top">
            <td> <img src = "{{ user.avatar(128) }}"> </td>
            <td> 
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            </td>
                
        </tr>
    </table>
<hr>
{% if user == current_user %}
 <p> <a href="{{ url_for('edit_profile') }}"> Edit your Profile L</a></p>
{% endif %}

{% for post in posts %}
{% include '_post.html' %}
{% endfor %}

{% endblock %}